<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="Ds3Endpoint" value="http://192.168.1.17:8080"/>
    <add key="Ds3AccessKey" value="ams="/>
    <add key="Ds3SecretKey" value="vvjo86Lp"/>
  </appSettings>
	<system.diagnostics>
		<!-- to enablelogging 
	     set trace level for section > 0
	     0 == Off
		 1 == Error
		 2 == Warning
		 3 == Info
		 4 == Verbose
	-->
		<switches>
			<add name="clientSwitch" value="4"/>
			<add name="sdkNetworkSwitch" value="4"/>
      <add name="Ds3" value="4"/>
      <add name="Ds3.Helpers" value="4"/>
		</switches>
		<!-- To write to a file, add a TextWriterTraceListener -->
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="writeToFile" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime, ThreadId" initializeData="C:\DS3SDK.log"/>
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
