<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Ds3Endpoint" value="http://192.168.56.101" />
    <add key="Ds3AccessKey" value="c3BlY3RyYQ==" />
    <add key="Ds3SecretKey" value="uoGCsjee" />
  </appSettings>
</configuration>